* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: hsl(204, 43%, 93%);
}

#card {
    width: 625px;
    height: 425px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-425px / 2);
    margin-left: calc(-625px / 2);
    display: flex;
    flex-direction: column;
}

#primary-content {
    padding: 2rem;
    flex-basis: 40%;
    background-color: white;
    border-radius: 7px 7px 0 0;
}

#primary-content h1 {
    color: hsl(179, 62%, 43%);
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#primary-content h2 {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#primary-content p {
    font-size: 1rem;
    color: hsl(218, 22%, 67%);
    font-weight: 400;
    margin-bottom: 0.2rem;
    width: 95%;
    line-height: 1.6;
}

#information {
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
    color: white;
    border-radius: 0px 0px 7px 7px;
}

#information h2 {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#subscription {
    padding: 2rem;
    flex-basis: 50%;
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 0 7px;
    display: flex;
    flex-direction: column;
}

#subscription p {
    font-weight: 400;
    font-size: 0.95rem;
    margin-bottom: 1.3rem;
}

#subscription #dollar {
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
}

#subscription #dollar p {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 0;
}

#subscription #dollar span {
    font-weight: 400;
    font-size: 1rem;
    color: hsl(204, 43%, 93%, 60%);
    margin-left: 0.6rem;
}

#subscription button {
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 0.95rem;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
    box-shadow: 0px 8px 12px -10px #333;
    transition: all 300ms;
}

#subscription button:hover {
    background-color: hsl(71, 73%, 54%, 90%);
}

#why-us {
    padding: 2rem;
    flex-basis: 50%;
    background-color: hsl(179, 62%, 43%, 80%);
    border-radius: 0 0 7px 0;
}

#why-us ul li {
    list-style-type: none;
}

#why-us ul li p {
    font-size: 0.85rem;
    color: hsl(204, 43%, 93%, 95%);
    line-height: 1.4;
    font-weight: 400;
}

@media (max-width: 640px) {
    #card {
        height: 400px;
        width: 320px;
        margin-left: -160px;
        top: 0;
        margin-top: 1.4rem;
    }

    #primary-content h1 {
        font-size: 1.2rem;
    }

    #primary-content h2 {
        font-size: 1rem;
    }

    #primary-content p {
        font-size: 0.84rem;
        width: 100%;
        line-height: 1.72;
        margin-bottom: -0.4rem;
    }

    #information {
        flex-direction: column;
    }
    
    #subscription {
        border-radius: 0;
    }
    
    #why-us {
        border-radius: 0 0 7px 7px;
        margin-bottom: 1.4rem;
    }
}

@media (max-width: 320px) {
    
    #card {
        width: 100%;
        left: 0;
        position: static;
        margin-left: 0;
        height: 100vh;
        margin-top: 0;
    }

    #primary-content {
        margin-top: 0;
        border-radius: 0;
    }

    #why-us {
        margin-bottom: 0;
        border-radius: 0;
    }
}